doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Proklamator RI  Soekarno

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body
    article
      section
        h1
        h1 D'Kans Tim
        ul
          li 
          li Kardika Sidabariba (12.111.1826)
          li Nathan Obadiah Sawato Telambanua (12.111.3193)
          li Iyen Labena Situmorang (12.111.3185)
      section
        h1 
        h1 Proklamator RI  Soekarno
      section
        h2 Biografi Ir Soekarno
        h4 Ir Soekarno adalah Proklamator Kemerdekaan Indonesia (bersama dengan Mohammad Hatta) yang terjadi pada tanggal 17 Agustus 1945.
        ul
          li 
          li Nama Lengkap : Ir. Soekarno, (Sewaktu kecil namanya Kusnososro)
          li Nama Panggilan : Bung Karno
          li Tempat lahir : Blitar, Jawa Timur
          li Tanggal Lahir : 6 Juni 1901
          li Wafat : Jakarta, 21 Juni 1970
      section
        p  Soekarno dilahirkan dengan nama Kusno Sosrodihardjo. Ayahnya bernama Raden Soekemi Sosrodihardjo.Ibunya bernama Ida Ayu Nyoman Rai.Pada usia 14 tahun, disekolahkan ke Hoogere Burger School (H.B.S.)
        p  
        p  pada tahun 1920, Soekarno tamat darI H.B.S melanjutkan ke Technische Hoge School (sekarang ITB) di Bandung, dan tamat pada tahun 1925. Saat di Bandung, Soekarno berinteraksi dengan Tjipto Mangunkusumo dan Dr. Douwes Dekker, yang saat itu merupakan pemimpin organisasi National Indische Partij.
      
      section
        h2 Latar Belakang dan Pendidikan
        p  Peranan Besar Yang Telah Dilakukan Oleh Tjipto Mangunkusumo dan Dr. Douwes Dekker,Terutama Dalam Hal Memerdekakan Bangsa Indonesia dari Belenggu Penjajahan Akan Selalu Terpatri Sebagai Jasa-Jasa Yang Tidak Akan Tergerus Selamanya Oleh Masa.
        p  Sebagai Sosok Yang Memiliki Label Penggerak Massa, Soekarno Memiliki Peranan Sebagai Pemain Depan  Yang Dengan Jelas Terlihat Bagaimana Pola Pikir Dan Cara Berbicaranya Ketika Berada Di Depan Podium  Untuk Berpidato. Soekarno Adalah Singa Podium Yang Berjuluk “Penyambung Solidaritas Rakyat”. Ia Memainkan Peran Dalam Menyampaikan Pesan Persatuan Dan Kesatuan Untuk Tercapainya Indonesia Merdeka.
      
      section
        h3 Sebagai Arsitek
        p  Bung Karno adalah presiden pertama Indonesia yang juga dikenal sebagai arsitek alumni  dari Technische Hoogeschool te Bandoeng (sekarang ITB) di Bandung dengan mengambil jurusan teknik sipil dan tamat pada tahun 1926.
        p  Semasa menjabat sebagai presiden, ada beberapa karya arsitektur dicetuskan oleh Soekarno. Juga perjalanan secara maraton dari bulan Mei sampai Juli pada tahun 1956 ke negara-negara Amerika Serikat, Kanada, Italia, Jerman Barat, dan Swiss. 
        p  Membuat cakrawala alam pikir Soekarno semakin kaya dalam menata Indonesia secara holistik dan menampilkannya sebagai negara yang baru merdeka. Soekarno membidik Jakarta sebagai wajah (muka) Indonesia terkait beberapa kegiatan berskala internasional  yang diadakan di kota itu, namun juga merencanakan buah kota sejak awal yang diharapkan sebagai pusat pemerintahan di masa datang. Beberapa karya dipengaruhi oleh Soekarno atau atas perintah dan koordinasinya  dengan beberapa arsitek seperti Frederich Silaban dan R.M. Soedarsono, dibantu beberapa arsitek junior untuk visualisasi.

      section
        h2 Pidato Soekarno Kemerdekaan RI
        ul
          li
          li Saudara-saudara!
          li Dengan ini kami menyatakan kebulatan tekad itu.
          li Dengarkanlah proklamasi kami:
          li Proklamasi
          li Kami bangsa Indonesia dengan ini menyatakan kemerdekaan Indonesia.
          li Hal-hal yang mengenai pemindahan kekuasaan dan lain-lain,
          li diselenggarakan dengan cara saksama dan dalam tempo yang sesingkat-singkatnya. 
          li Jakarta, 17 Agustus 1945
          li Atas Nama Bangsa Indonesia
          li Soekarno-Hatta
      
      section
        h2 Kata-Kata Bijak Soekarno
        ul
          li 
          li 1. "Tuhan menciptakan bangsa untuk maju melawan kebohongan elit atas,
          li    hanya bangsanya sendiri yang mampu merubah nasib negerinya sendiri."
          li 2. "Aku tinggalkan Kekayaan alam Indonesia, biar semua negara besar dunia iri 
          li    dengan Indonesia, dan aku tinggalkan hingga bangsa Indonesia sendiri yang mengolahnya."
          li 3. "Barangsiapa ingin mutiara, harus berani terjun di lautan yang dalam."
      
      section
        h2 Kiprah Politik
        h3 Massa Pergerakan Nasional
        p  Pada tahun 1926, Soekarno mendirikan Algemene Studie Club di Bandung yang merupakan hasil inspirasi dari Indonesische Studie Club oleh Dr. Soetomo. organisasi ini menjadi cikal bakal Partai Nasional Indonesia yang didirikan pada tahun 1927. Aktivitas Soekarno di PNI menyebabkannya ditangkap Belanda pada tanggal 29 Desember 1929 di Yogyakarta dan esoknya dipindahkan ke Bandung, untuk dijebloskan ke Penjara Banceuy. Pada tahun 1930 ia dipindahkan ke Sukamiskin dan  pada tahun itu ia memunculkan pledoinya yang fenomenal Indonesia Menggugat (pledoi), hingga dibebaskan kembali pada tanggal 31 Desember 1931.
      
      section
        p  Pada bulan Juli 1932, Soekarno bergabung dengan Partai Indonesia (Partindo), yang merupakan pecahan dari PNI. Soekarno kembali ditangkap pada bulan Agustus 1933, dan diasingkan ke Flores. Di sini, Soekarno hampir dilupakan oleh tokoh-tokoh nasional. Namun semangatnya tetap membara seperti tersirat dalam setiap suratnya kepada seorang Guru Persatuan Islam bernama Ahmad Hasan. Pada tahun 1938 hingga tahun 1942 Soekarno diasingkan ke Provinsi Bengkulu. Soekarno baru kembali bebas pada masa penjajahan Jepang pada tahun 1942.
      
      section
        h1
        h2
        h2 Masa Penjajahan Jepang
        p  Pada awal masa penjajahan Jepang (1942-1945), pemerintah Jepang sempat tidak memerhatikan tokoh-tokoh pergerakan Indonesia terutama untuk mengamankan" keberadaannya di Indonesia. Ini terlihat pada Gerakan 3A dengan tokohnya Shimizu dan Mr. Syamsuddin yang kurang begitu populer. 
        p  Pada tahun 1943, Perdana Menteri Jepang Hideki Tojo mengundang tokoh Indonesia yakni Soekarno, Mohammad Hatta, dan Ki Bagoes Hadikoesoemo ke Jepang dan diterima langsung oleh Kaisar Hirohito. Bahkan kaisar memberikan Bintang kekaisaran Ratna Suci kepada tiga tokoh Indonesia tersebut. Penganugerahan Bintang itu membuat pemerintahan pendudukan Jepang terkejut, karena hal itu berarti bahwa ketiga tokoh Indonesia itu dianggap keluarga Kaisar Jepang sendiri. 
        p  Pada bulan Agustus 1945, ia diundang oleh Marsekal Terauchi, pimpinan Angkatan Darat wilayah Asia Tenggara di Dalat Vietnam yang kemudian menyatakan bahwa proklamasi kemerdekaan Indonesia adalah urusan rakyat Indonesia sendiri. Namun keterlibatannya dalam badan-badan organisasi bentukan Jepang membuat Soekarno dituduh oleh Belanda bekerja sama dengan Jepang, antara lain dalam kasus romusha.
      
      section
        h2 Masa Perang Revolusi
        p  Setelah menemui Marsekal Terauchi di Dalat, Vietnam, terjadilah Peristiwa Rengasdengklok pada tanggal 16 Agustus 1945; Soekarno dan Mohammad Hatta dibujuk oleh para pemuda untuk menyingkir ke asrama pasukan Pembela Tanah Air Peta Rengasdengklok.Para pemuda menuntut agar Soekarno dan Hatta segera memproklamasikan kemerdekaan Republik Indonesia, karena di Indonesia terjadi kevakuman kekuasaan. Ini disebabkan karena Jepang sudah menyerah dan pasukan Sekutu belum tiba. Namun Soekarno, Hatta dan para tokoh menolak dengan alasan menunggu kejelasan mengenai penyerahan Jepang.
        
      section
        p
        p Pada tanggal 18 Agustus 1945, Soekarno dan Mohammad Hatta diangkat oleh PPKI menjadi Presiden dan Wakil Presiden Republik Indonesia. Pada tanggal 29 Agustus 1945 pengangkatan menjadi presiden dan wakil presiden dikukuhkan oleh KNIP. Pada tanggal 19 September 1945 kewibawaan Soekarno dapat menyelesaikan tanpa pertumpahan darah peristiwa Lapangan Ikada tempat 200.000 rakyat Jakarta akan bentrok dengan pasukan Jepang yang masih bersenjata lengkap.
      section
        p  
        p  Pada saat kedatangan Sekutu (AFNEI) akhirnya mengakui kedaulatan Indonesia secara de facto setelah mengadakan pertemuan dengan Presiden Soekarno. Presiden Soekarno juga berusaha menyelesaikan krisis di Surabaya. Namun akibat provokasi yang dilancarkan pasukan NICA (Belanda) yang membonceng Sekutu (di bawah Inggris), meledaklah Peristiwa 10 November 1945 di Surabaya dan gugurnya Brigadir Jenderal A.W.S Mallaby.Karena banyak provokasi di Jakarta pada waktu itu, Presiden Soekarno akhirnya memindahkan Ibukota Republik Indonesia dari Jakarta ke Yogyakarta. Diikuti wakil presiden dan pejabat tinggi negara lainnya.
        p  Kedudukan Presiden Soekarno menurut UUD 1945 adalah kedudukan Presiden selaku kepala pemerintahan dan kepala negara (presidensiil/single executive). Selama revolusi kemerdekaan, sistem pemerintahan berubah menjadi semipresidensiil/double executive. Presiden Soekarno sebagai Kepala Negara dan Sutan Syahrir sebagai Perdana Menteri/Kepala Pemerintahan. Hal itu terjadi karena adanya maklumat wakil presiden No X, dan maklumat pemerintah bulan November 1945 tentang partai politik. Hal ini ditempuh agar Republik Indonesia dianggap negara yang lebih demokratis.
      
      section
        p  Meski sistem pemerintahan berubah, pada saat revolusi kemerdekaan, kedudukan Presiden Soekarno tetap paling penting, terutama dalam menghadapi Peristiwa Madiun 1948 serta saat Agresi Militer Belanda II yang menyebabkan Presiden Soekarno, Wakil Presiden Mohammad Hatta dan sejumlah pejabat tinggi negara ditahan Belanda. Meskipun sudah ada Pemerintahan Darurat Republik Indonesia (PDRI) dengan ketua Sjafruddin Prawiranegara, tetapi pada kenyataannya dunia internasional dan situasi dalam negeri tetap mengakui bahwa Soekarno-Hatta adalah pemimpin Indonesia yang sesungguhnya, hanya kebijakannya yang dapat menyelesaikan sengketa Indonesia-Belanda. 
      section 
        h2 Masa keterpurukan
        p  Situasi politik Indonesia menjadi tidak menentu setelah enam jenderal dibunuh dalam Gerakan 30 September atau G30S pada 1965. KAMI (Kesatuan Aksi Mahasiswa Indonesia) dan KAPI (Kesatuan Aksi Pelajar Indonesia) melakukan aksi demonstrasi dan menyampaikan Tri Tuntutan Rakyat (Tritura) yang salah satu isinya meminta agar PKI dibubarkan.Soekarno menolak untuk membubarkan PKI karena bertentangan dengan pandangan Nasakom (Nasionalisme, Agama, Komunisme). Sikap Soekarno yang menolak membubarkan PKI kemudian melemahkan posisinya dalam politik.
        p  Lima bulan kemudian, dikeluarkanlah Surat Perintah Sebelas Maret yang ditandatangani oleh Soekarno. Isi dari surat tersebut untuk mengambil tindakan yang perlu guna menjaga keamanan pemerintahan dan keselamatan pribadi presiden. Surat tersebut lalu digunakan untuk membubarkan PKI dan menyatakannya sebagai organisasi terlarang. Soekarno kemudian membawakan pidato pertanggungjawaban mengenai sikapnya terhadap peristiwa G30S pada Sidang Umum ke-IV MPRS.
      section
        p  Pidato tersebut berjudul "Nawaksara" dan dibacakan pada 22 Juni 1966. MPRS kemudian meminta Soekarno untuk melengkapi pidato tersebut.
        p  Pidato "Pelengkap Nawaskara" pun disampaikan oleh Soekarno pada 10 Januari 1967
        p  namun kemudian ditolak oleh MPRS pada 16 Februari tahun yang sama. Hingga akhirnya pada 20 Februari 1967 Soekarno menandatangani Surat Pernyataan Penyerahan Kekuasaan di Istana Merdeka. Dengan ditandatanganinya surat tersebut maka Soeharto de facto menjadi kepala pemerintahan Indonesia. Setelah melakukan Sidang Istimewa maka MPRS pun mencabut kekuasaan Presiden Soekarno, mencabut gelar Pemimpin Besar Revolusi dan mengangkat  Soeharto sebagai Presiden RI hingga diselenggarakan pemilihan umum berikutnya.
    
      section
        h2 Massa Kemerdekaan
        p  Setelah Pengakuan Kedaulatan (Pemerintah Belanda menyebutkan sebagai Penyerahan Kedaulatan), Presiden Soekarno diangkat sebagai Presiden Republik Indonesia Serikat (RIS) dan Mohammad Hatta diangkat sebagai perdana menteri RIS. Jabatan Presiden Republik Indonesia diserahkan kepada Mr Assaat, yang kemudian dikenal sebagai RI Jawa-Yogya. Namun karena tuntutan dari seluruh rakyat Indonesia yang ingin kembali ke negara kesatuan, maka pada tanggal 17 Agustus 1950, RIS kembali berubah menjadi Republik Indonesia dan Presiden Soekarno menjadi Presiden RI. Mandat Mr Assaat sebagai pemangku jabatan Presiden RI diserahkan kembali kepada Ir. Soekarno. 
      section
        p
        p  Resminya kedudukan Presiden Soekarno adalah presiden konstitusional, tetapi pada kenyataannya kebijakan pemerintah dilakukan setelah berkonsultasi dengannya. Setelah menemui Marsekal Terauchi di Dalat, Vietnam, terjadilah Peristiwa Rengasdengklok pada tanggal 16 Agustus 1945; Soekarno dan Mohammad Hatta dibujuk oleh para pemuda untuk menyingkir ke asrama pasukan Pembela Tanah Air Peta Rengasdengklok.
        p  
        p  Para pemuda menuntut agar Soekarno dan Hatta segera memproklamasikan kemerdekaan Republik Indonesia, karena di Indonesia terjadi kevakuman kekuasaan. Ini disebabkan karena Jepang sudah menyerah dan pasukan Sekutu belum tiba. Namun Soekarno, Hatta dan para tokoh menolak dengan alasan menunggu kejelasan mengenai penyerahan Jepang.
        
      section
        p
        p Alasan lain yang berkembang adalah Soekarno menetapkan momen tepat untuk kemerdekaan Republik Indonesia yakni dipilihnya tanggal 17 Agustus 1945,Pada tanggal 18 Agustus 1945, Soekarno dan Mohammad Hatta diangkat oleh PPKI menjadi Presiden dan Wakil Presiden Republik Indonesia. Pada tanggal 29 gustus 1945 pengangkatan menjadi presiden dan wakil presiden dikukuhkan oleh KNIP. 
      
      section
        h2 Sakit Hingga Meninggalnya Ir. Soekarno
        p  Agustus 1965 Kesehatan Soekarno sudah mulai menurun tahun 1961 dan 1964 mengalami gangguan ginjal dan pernah menjalani perawatan di Wina,dokter menyarankan agar ginjal kiri Soekarno diangkat tetapi ia menolaknya dan lebih memilih pengobatan tradisional. Ia masih bertahan selama 5 tahun sebelum akhirnya meninggal pada hari Minggu, 21 Juni 1970 di RSPAD (Rumah Sakit Pusat Angkatan Darat) Gatot Subroto, Jakarta dengan status sebagai tahanan politik.
      section
        h2 Peninggalan setelah Wafatnya Ir. Soekarno
        p  Dalam rangka memperingati 100 tahun kelahiran Soekarno pada 6 Juni 2001, maka Kantor Filateli Jakarta menerbitkan prangko "100 Tahun Bung Karno". Prangko yang diterbitkan merupakan empat buah prangko berlatar belakang bendera Merah Putih serta menampilkan gambar diri Soekarno dari muda hingga ketika menjadi Presiden Republik Indonesia.Prangko pertama memiliki nilai nominal Rp500 dan menampilkan potret Soekarno pada saat sekolah menengah. prangko kedua bernilai Rp800 dan gambar Soekarno ketika masih di perguruan tinggi tahun 1920-an terpampang di atasnya. prangko yang ketiga memiliki nominal Rp900 serta menunjukkan foto Soekarno saat proklamasi kemerdekaan RI. Prangko yang terakhir memiliki gambar Soekarno ketika menjadi Presiden dan bernominal Rp1000. 
        
      section
        p
        p  Prangko yang menampilkan Soekarno juga diterbitkan oleh Pemerintah Kuba pada tanggal 19 Juni 2008. Prangko tersebut menampilkan gambar Soekarno dan presiden Kuba Fidel Castro.Penerbitan itu bersamaan dengan ulang tahun ke-80 Fidel Castro dan peringatan kunjungan Presiden Indonesia, Soekarno, keKuba.
        p  Nama Soekarno pernah diabadikan sebagai nama sebuah gelanggang olahraga pada tahun 1958. Bangunan tersebut, yaitu Gelanggang Olahraga Bung Karno, didirikan sebagai sarana keperluan penyelenggaraan Asian Games IV tahun 1962 di Jakarta. Pada masa Orde Baru, kompleks olahraga ini diubah namanya menjadi Gelora  Senayan. Tapi sesuai keputusan Presiden Abdurrahman Wahid, Gelora Senayan kembali pada nama awalnya yaitu Gelanggang Olahraga Bung Karno. Hal ini dilakukan dalam rangka mengenang jasa Bung Karno. 
        
      section
        p
        p  Setelah kematiannya, beberapa yayasan dibuat atas nama Soekarno. Dua di antaranya adalah Yayasan Pendidikan Soekarno dan Yayasan Bung Karno. Yayasan Pendidikan Soekarno adalah organisasi yang mencetuskan ide untuk membangun universitas dengan pemahaman yang diajarkan Bung Karno. Yayasan ini dipimpin oleh Rachmawati Soekarnoputri, anak ke tiga Soekarno dan Fatmawati.  
        p Yayasan Bung Karno memiliki tujuan untuk mengumpulkan dan melestarikan benda-benda seni maupun nonseni kepunyaan Soekarno yang tersebar di berbagai daerah di Indonesia. Yayasan tersebut didirikan pada tanggal 1 Juni 1978 oleh delapan putra - putri Soekarno.
      
      section
        h2 Penghargaan Ir.Soekarno
        p  Soekarno mendapatkan gelar Doktor Honoris Causa dari 26 universitas di dalam dan luar negeri. Perguruan tinggi dalam negeri yang memberikan gelar kehormatan kepada Soekarno.
        p  Pada bulan April 2005, Soekarno yang sudah meninggal selama 35 tahun mendapatkan penghargaan dari Presiden Afrika Selatan Thabo Mbeki. Penghargaan tersebut adalah penghargaan bintang kelas satu The Order of the Supreme Companions of OR Tambo yang diberikan dalam bentuk medali, pin, tongkat, dan lencana yang semuanya dilapisi emas. Soekarno mendapatkan penghargaan tersebut karena dinilai telah mengembangkan solidaritas internasional demi melawan penindasan oleh negara maju serta telah menjadi inspirasi bagi rakyat Afrika Selatan dalam melawan penjajahan dan membebaskan diri dari apartheid. Acara penyerahan penghargaan tersebut dilaksanakan di Kantor Kepresidenan Union Buildings di Pretoria dan dihadiri oleh Megawati Soekarnoputri yang mewakili ayahnya dalam menerima penghargaan.
      
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild